<h1>Home Page</h1>
<b><%= @user.name %></b>
<ul>
  <% @user.resumes.each do |resume| %>
    <li>
      <a href="<%= resume_config_path(resume.code) %>">config</a>
      <%= link_to "Download CV", resume_config_path(resume.code, :format => :pdf), :format => :pdf %>
      <%= resume.name %>
    </li>
  <% end %>
</ul>